[
  {lager, [
    {colored, true},
    {handlers, [
    {lager_console_backend, [debug, {lager_default_formatter, [ time, " ", pid, " ", module, " ", line, color, " [",severity,"] ", message, "\e[0m\r\n"]} ]},
      {lager_file_backend, [  {file, "log/error.log"}, {level, error}, {date, "$D0"}, {size, 1000000000} ]},
      {lager_file_backend, [  {file, "log/console.log"}, {level, info}, {date, "$D0"},{size, 1000000000} ]}
    ]}
  ]},
  {bkdcore, [
    {autocompile,["apns"]},
    {autoload_files, true},
    {autocompile, true},
    {rebar3, true}
  ]},
  {mu,[
    {port, 8080},
    {path_images, "external/storage/questionnairesImg"},
    {path_avatars, "external/storage/avatarsImg"}
  ]}
].
