.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-heading {
  cursor: pointer;
}

p button {
  margin-top:10px;
}

table td{
  padding: 5px
}

  /*questionnaire: {id: '1', name: 'test' },*/
/*{"username":"dsadsa","password":"dsadsa"}*/
